@model AquentChallenge.Models.ViewModels.PersonFormViewModel

@{
    bool isReadOnly = Model.IsReadOnly;
    var clients = Model.Clients ?? Enumerable.Empty<AquentChallenge.Models.Client>();
}

<div class="mb-3">
    <label asp-for="FirstName" class="form-label">First Name</label>
    @if (!isReadOnly)
    {
        <span asp-validation-for="FirstName" class="text-danger"></span>
        <input asp-for="FirstName" class="form-control" />
    }
    else
    {
        <input asp-for="FirstName" class="form-control" readonly />
    }
</div>

<div class="mb-3">
    <label asp-for="LastName" class="form-label">Last Name</label>
    @if (!isReadOnly)
    {
        <span asp-validation-for="LastName" class="text-danger"></span>
        <input asp-for="LastName" class="form-control" />
    }
    else
    {
        <input asp-for="LastName" class="form-control" readonly />
    }
</div>

<div class="mb-3">
    <label asp-for="EmailAddress" class="form-label">Email Address</label>
    @if (!isReadOnly)
    {
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
        <input asp-for="EmailAddress" class="form-control" />
    }
    else
    {
        <input asp-for="EmailAddress" class="form-control" readonly />
    }
</div>

<div class="mb-3">
    <label asp-for="StreetAddress" class="form-label">Street Address</label>
    @if (!isReadOnly)
    {
        <span asp-validation-for="StreetAddress" class="text-danger"></span>
        <input asp-for="StreetAddress" class="form-control" />
    }
    else
    {
        <input asp-for="StreetAddress" class="form-control" readonly />
    }
</div>

<div class="mb-3">
    <label asp-for="City" class="form-label">City</label>
    @if (!isReadOnly)
    {
        <span asp-validation-for="City" class="text-danger"></span>
        <input asp-for="City" class="form-control" />
    }
    else
    {
        <input asp-for="City" class="form-control" readonly />
    }
</div>

<div class="mb-3">
    <label asp-for="State" class="form-label">State</label>
    @if (!isReadOnly)
    {
        <span asp-validation-for="State" class="text-danger"></span>
        <input asp-for="State" class="form-control" />
    }
    else
    {
        <input asp-for="State" class="form-control" readonly />
    }
</div>

<div class="mb-3">
    <label asp-for="ZipCode" class="form-label">Zip Code</label>
    @if (!isReadOnly)
    {
        <span asp-validation-for="ZipCode" class="text-danger"></span>
        <input asp-for="ZipCode" class="form-control" />
    }
    else
    {
        <input asp-for="ZipCode" class="form-control" readonly />
    }
</div>

<div class="mb-3">
    <label for="ClientId" class="form-label">Client</label>
    @if (!isReadOnly)
    {
        <select asp-for="ClientId" class="form-select"
                asp-items="@(new SelectList(clients, "Id", "CompanyName", Model.ClientId))">
            <option value="">-- Select Client --</option>
        </select>
        <span asp-validation-for="ClientId" class="text-danger"></span>
    }
    else
    {
        <input class="form-control" readonly value="@(Model.ClientName ?? "(none)")" />
    }
</div>
