@model AquentChallenge.Models.Person

@{
    bool isReadOnly = Convert.ToBoolean(ViewData["IsReadOnly"]);
    string ro = isReadOnly ? "readonly" : string.Empty;
}

<div class="mb-3">
    <label asp-for="FirstName" class="form-label">First Name</label>
    <input asp-for="FirstName" class="form-control" />
    @if (!isReadOnly)
    {
        <span asp-validation-for="FirstName" class="text-danger"></span>
    }
</div>

<div class="mb-3">
    <label asp-for="LastName" class="form-label">Last Name</label>
    <input asp-for="LastName" class="form-control" />
    @if (!isReadOnly)
    {
        <span asp-validation-for="LastName" class="text-danger"></span>
    }
</div>

<div class="mb-3">
    <label asp-for="EmailAddress" class="form-label">Email Address</label>
    <input asp-for="EmailAddress" class="form-control" />
    @if (!isReadOnly)
    {
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
    }
</div>

<div class="mb-3">
    <label asp-for="StreetAddress" class="form-label">Street Address</label>
    <input asp-for="StreetAddress" class="form-control" />
    @if (!isReadOnly)
    {
        <span asp-validation-for="StreetAddress" class="text-danger"></span>
    }
</div>

<div class="mb-3">
    <label asp-for="City" class="form-label">City</label>
    <input asp-for="City" class="form-control" />
    @if (!isReadOnly)
    {
        <span asp-validation-for="City" class="text-danger"></span>
    }
</div>

<div class="mb-3">
    <label asp-for="State" class="form-label">State</label>
    <input asp-for="State" class="form-control" maxlength="2" />
    @if (!isReadOnly)
    {
        <span asp-validation-for="State" class="text-danger"></span>
    }
</div>

<div class="mb-3">
    <label asp-for="ZipCode" class="form-label">Zip Code</label>
    <input asp-for="ZipCode" class="form-control" maxlength="5" />
    @if (!isReadOnly)
    {
        <span asp-validation-for="ZipCode" class="text-danger"></span>
    }
</div>
