@model AquentChallenge.Models.Person

@{
    bool isEdit = Model?.Id > 0;
    bool isReadOnly = (ViewData["IsReadOnly"] as bool?) ?? false;
    ViewData["Title"] = isReadOnly ? "View Person" : (isEdit ? "Edit Person" : "Create Person");
}

<h2 class="mb-3">@ViewData["Title"]</h2>

@if (isReadOnly)
{
    <div>
        <partial name="~/Views/Shared/_PersonForm.cshtml" />
    </div>
    <a asp-action="Index" class="btn btn-secondary mt-3">Back to List</a>
}
else
{
    <form asp-action="@(isEdit ? "Edit" : "Create")" method="post">
        <partial name="~/Views/Shared/_PersonForm.cshtml" />
        <button type="submit" class="btn btn-primary">
            @(isEdit ? "Save Changes" : "Create")
        </button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>

}

<!-- For unobtrusive validation -->
@section Scripts {
    <!-- jQuery Validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
            integrity="sha512-Yc+5wJp3oeJMWAnktdC+GJ+7hzE4XjIxEfw8j+1hXnQ02Z+3Wyi4JQTo3E4dD7tkXhMC5QaXfSktkTz4JvKz1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- jQuery Validation Unobtrusive -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"
            integrity="sha512-hhtSkgD8gZQkvlJ6DjJ1yytZ6D7ptN0BqJ8GVybmI2eYck1+Vb7F8pR2U8yUJv91t3vBuPo1F7n6hVuG+ok2Bg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}


